.boxContainerLoginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2.5px rgba(15, 15, 15, 0.19);
}

.mutedLink {
  font-size: 11px;
  color: rgba(200, 200, 200, 0.8);
  font-weight: 500;
  text-decoration: none;
  margin: 10px 0 20px 0;
}

.boldLink {
  font-size: 12px;
  color: rgb(241, 196, 15);
  font-weight: 500;
  text-decoration: none;
}

.input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 0 10px;
  border-bottom: 1.4px solid transparent;
  transition: all 200ms ease-in-out;
  font-size: 12px;
}

.input::placeholder {
  color: rgb(200, 200, 200);
}

.input:not(:last-of-type) {
  border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.input:focus {
  border-bottom: 2px solid rgb(241, 196, 15);
}

.submitButton {
  width: 100%;
  padding: 11px 20%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 240ms ease-in-out;
  background: linear-gradient(58deg, rgb(241, 196, 15) 20%, rgb(243, 172, 18));
}

.submitButton:hover {
  filter: brightness(1.03);
}
